/* ================= TOP UTILITY BAR ================= */

.top-utility-bar {
  display: flex;
  width: 100%;
  height: 39px;
  font-size: 14px;
  font-weight: 500;
}

/* LEFT GREEN */
.utility-left {
  background-color: #91c04a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
  position: relative;
  white-space: nowrap;

  /* INCREASE LEFT WIDTH */
  flex: 0 0 620px;
  /* change this value */
}

/* ANGLED CUT */
.utility-left::after {
  content: "";
  position: absolute;
  right: -32px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 39px solid #91c04a;
  border-right: 32px solid transparent;
  z-index: 2;
}

/* MARQUEE */
.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: inline-flex;
  color: #ffffff;
  gap: 30px;
  animation: marquee-scroll 6s linear infinite;
}

.utility-left:hover .marquee-track {
  animation-play-state: paused;
}

/* MARQUEE ANIMATION */
@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* RIGHT BLUE */
.utility-right {
  background-color: #009edb;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
  padding: 0 32px 0 48px;
  font-weight: 500;
}

/* NAV ITEM */
.nav-item {
  position: relative;
}

/* SUBMENU */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 125px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(54, 51, 125);  /* padding: 10px 0; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
  z-index: 999;
}

/* SHOW ON HOVER */
.has-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* SUBMENU LINKS */
.submenu a {
  display: block;
  padding: 8px 10px;
  color: #303877;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.submenu a:hover {
  background: #f3f6ff;
}

/* ARROW */
.has-submenu>a::after {
  /* content: "▾"; */
  margin-left: 6px;
  font-size: 12px;
}

.utility-right a:hover {
  /* text-decoration: underline; */
}

/* ICON SPACING */
/* .divider {
  opacity: 1;
} */

/* MOBILE */
@media (max-width: 768px) {
  .utility-right {
    display: none;
  }

  .top-utility-bar {
    height: auto;
  }

  .utility-left {
    flex: 1;
  }

  .utility-left::after {
    display: none;
  }
}