.about-content h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #007BFF; /* Blue */
  font-family: "Graphik", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}


.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-content {
    flex: 1;
    margin-right: 20px;
  }
  

  
  .about-content p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
  }
  
  .know-more-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .know-more-button:hover {
    background-color: #0056b3;
  }
  
  .about-video {
    flex: 1;
    max-width: 500px;
    aspect-ratio: 16 / 9; /* Ensures proper aspect ratio */
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .about-content {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .about-content h2 {
      font-size: 24px;
    }

    .about-content p {
      font-size: 12px;
     line-height: 1.6;
    }
  
    .about-video {
      width: 100%;
      height: auto;
    }
  }
  