
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.nba-container {
    max-width: 1200px;
    margin: 130px auto 40px;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 1s ease-in-out;

  }
  
  .nba-heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
    /* border-bottom: 3px solid #2980b9; */
    display: inline-block;
    padding-bottom: 8px;
  }
  
  .nba-programme {
    margin-bottom: 2rem;
    background: #f8f9fa;
    border-left: 5px solid #009EDB;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  /* .nba-programme h3 {
    font-size: 1.25rem;
    color: #34495e;
    margin-bottom: 0.75rem;
  } */
  
  .nba-programme ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .nba-programme li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .nba-programme a {
    color: #319143;
    font-weight: 400;
    /* text-decoration: none; */
    /* font-weight: 400; */
    transition: color 0.3s ease;
  }
  
  .nba-programme a:hover {
    text-decoration: underline;
    color: #319143;
  }
  
  @media (max-width: 768px) {
    .nba-heading {
      font-size: 1.5rem;
    }
  
    .nba-programme h3 {
      font-size: 1.1rem;
    }
  }
  