@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,400;1,100&family=SUSE:wght@100..800&display=swap');

.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: justify;
}

.contactus{
    margin-top: 20px;
}

.contactus h1{
    text-align: center;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col h3 img{
    width: 50px;
    margin-left: 10px;
}
.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea{
    display:block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px; 
}
.contact-col span{
    display: block;
    margin: 20px 0;
}

.followus {
    display: flex;
    /* flex-direction: column; */
    margin-top: 40vh;
    align-content: center;
    text-align: justify;
    margin-left:10vw;
}

.followus .gallery{
    position: relative;
    top: -30vh;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

.followus h2{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    margin-top: 30px;
    font-size: 30px;
}

.social-media ul {
    position:relative;
    transform:translate(-50%, -50%);
    /* display:flex; */
    margin:10px;
    padding:0;
  }
  
.social-media  ul li {
    list-style:none;
    margin:0 5px;
  }
  
 .social-media ul li a .iconssocial{
    margin: 20px 0px;
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
 .social-media ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
 .social-media ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
 .social-media ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
 .social-media ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
 .social-media ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
 .social-media ul li:hover .fa {
    color:#fff;
  }
  
 .social-media ul li:hover span {
    color:#fff;
  }
  
 .social-media ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
 .social-media ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
 .social-media ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
 .social-media ul li:hover:nth-child(2) a{
    background: #00aced;
  }
 .social-media ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
 .social-media ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
 .social-media ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
 .social-media ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
 .social-media ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
 .social-media ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
 .social-media ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
 .social-media ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }

  .social-media ul li:hover:nth-child(5) a{
    background: #8c18eb;
  }
 .social-media ul li:hover:nth-child(5) a:before{
    background: #c07cf7;
  }
 .social-media ul li:hover:nth-child(5) a:after{
    background: #a566da;
  }

/* Media Query */
@media(max-width: 700px){
    .contact{
        display: block;
        margin-bottom: 180px;
    }
    .contact-col{
        padding: 20px;
    }
  
    .followus .gallery{
      /* position: absolute; */
      top: 0vh;
      margin-top: 20px;
      border: none;
      border-radius: 0px 0px 0px 0px;
      overflow: hidden;
  }
    
}

/* Force the social icons container to wrap nicely in mobile */
@media(max-width: 700px){


  .followus {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .followus .social-media{
    margin-top: -200px;
  }

  .followus .social-media ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      transform: none;
      position: static;
  }

  .followus .social-media ul li {
      margin: 0;
      transform: none;
  }

  .social-media ul li a {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 10vh;
      background: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
  }

  .social-media ul li a:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }

  .social-media ul li a .iconssocial {
      font-size: 24px;
      color: #262626;
      margin: 0;
      padding: 0;
  }

  .social-media ul li a span {
      display: none; /* Hide text on mobile for simplicity */
  }

  /* Disable skew 3D parts on mobile */
  .social-media ul li a:before,
  .social-media ul li a:after {
      display: none;
  }
}
