@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Boldonse&family=Cinzel+Decorative:wght@400;700;900&family=Foldit:wght@100..900&family=Lexend+Giga:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap');


.section {
  width: 100%;
  background: #262464;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* Higher than Navbar */
  transition: background 0.5s ease;
  border-bottom: 1px solid #b6b6bd;
  padding: 5px 0;
  height: 28px; /* Ensure height is fixed */

}

.section-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 10px;
}

.left-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family:  serif;
  font-optical-sizing: auto;

}

.left-links a:hover {
  text-decoration: underline;
}

.info-line {
  display: flex;
  align-items: center;
  width: 40%;
  font-size: 12px;
  padding: 5px 10px;
  overflow: hidden;
}

.marquee {
  font-size: 14px;
  color: rgb(234, 225, 140);
  white-space: nowrap;
  width: 100%;
}

.buzz {
  position: fixed;
  top: -15px;
  right: 26%;
  width: 120px;
}

@media (max-width: 1200px) {
  .section {
    flex-direction: column;
    height: 42px;
    padding: 5px 0;
  }
}

@media (max-width: 992px) {
  .section {
    flex-direction: column;
    height: 42px;
    padding: 5px 0;
  }
}



/* Responsive Design */
@media (max-width: 600px) {
  .section {
    flex-direction: column;
    height: 42px;
    padding: 5px 0;
  }

  .section-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .left-links {
    order: -1; /* Move to the top */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding:0;
  }

  .left-links a {
    font-size: 12px;
    padding: 1px 10px;
  }

  .info-line {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1px 0;
  }

  .marquee {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}
