.ariia-container {
    padding: 8rem 1rem 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  .ariia-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .ariia-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }
  
  .ariia-link-item a {
    text-decoration: none;
    font-weight: 500;
    color: #009EDB;
    font-size: 1.1rem;
  }
  
  .ariia-link-item a:hover {
    text-decoration: underline;
    color: #319147;
  }
  