.contact-container {
    padding: 8rem 2rem 4rem;
    /* background: linear-gradient(to bottom right, #f0f4f8, #dfe9f3); */
    min-width: 100vw;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    animation: fadeIn 1.2s ease-in;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .contact-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 3rem;
  }
  
  .contact-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto 4rem;
  }
  
  .contact-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .contact-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    /* margin-bottom: 1rem; */
  }
  
  
  .contact-card:hover {
    transform: translateY(-5px);
  }
  
  .contact-card h3 {
    color: #009EDB;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  
  .contact-card p,
  .contact-card a {
    font-size: 1rem;
    font-weight: 500;
    color: #313030;
    line-height: 1.6;
  }
  
  .contact-card a {
    color: #319147;
    font-weight: 500;
    text-decoration: none;
  }
  
  .contact-card a:hover {
    /* text-decoration: underline; */
  }
  
  .hostel-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
  }
  
  .hostel-table-container {
    overflow-x: auto;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .hostel-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  }
  
  .hostel-table th,
  .hostel-table td {
    padding: 1rem;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    color: #2c3e50;
  }
  
  .hostel-table th {
    background-color: #303877;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .contact-title {
      font-size: 2rem;
    }
  
    .contact-card h3 {
      font-size: 1.3rem;
    }
  
    .contact-card p {
      font-size: 0.95rem;
    }
  
    .hostel-title {
      font-size: 1.5rem;
    }
  
    .hostel-table th,
    .hostel-table td {
      padding: 0.8rem;
      font-size: 0.9rem;
    }
  }
  