@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Boldonse&family=Cinzel+Decorative:wght@400;700;900&family=Foldit:wght@100..900&family=Lexend+Giga:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap");

.footer {
  background: #243fa0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* TOP BAR */
.footer-top {
  max-width: 1100px;
  position: relative;
  top: -40px;
  margin: 0 auto;
  z-index: 5;
  background: linear-gradient(90deg, #00c6ff, #0047ab);
  border-radius: 14px;
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.footer-top-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

/* MAIN FOOTER */
.footer-main {
  padding: 60px 40px 40px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.footer-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

/* icon size */
.heading-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

/* heading text */
.footer-col h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

/* align list under text (NOT icon) */
.footer-col ul {
  list-style: none;
  padding-left: 28px; /* 🔥 SAME AS ICON + GAP WIDTH */
  margin: 0;
}

.footer-col ul li {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 6px;
  color: #ffffffcc;
  font-weight: 300;
}

.footer-col ul li:hover {
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social svg {
  font-size: 20px;
  /* margin-left: 16px; */
  cursor: pointer;
  align-items: self-end;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 14px;
    text-align: center;
  }

  .footer-columns {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}
