@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:wght@100;400&family=SUSE:wght@100..800&display=swap');


.hero{
    width: 100%;
    min-height: 60vh;
    background: linear-gradient(rgba(60, 59, 61, 0.7),rgba(56, 51, 87, 0.7)),
    url('../../../assets/images/background-landing.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 100%;
}
.hero-text h1 {
    font-family: "Kanit", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-weight: 900;
}
.hero-text p {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: italic;  
    margin-top: 2vh; 
    padding: 0;
    line-height: 1;
    font-size: 25px;
}


@media (max-width: 850px){

    .hero{
        min-height: 20vh;
    }
    .hero-text h1{
        font-size: 40px;
    }
}
@media (max-width: 650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 24px;
        margin: 15px auto 30px;
    }
}




@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
  
  .hero-text {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 100;
    animation: lights 10s 1050ms linear infinite;
  }