
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.nirf-container {
    max-width: 900px;
    margin: 130px auto 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    animation: fadeIn 1s ease-in-out;

  }
  
  .nirf-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #303877;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .nirf-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .nirf-container {
      margin: 130px 20px 40px;
      padding: 15px;
    }
  
    .nirf-heading {
      font-size: 1.6rem;
    }
  
    .nirf-description {
      font-size: 1rem;
    }
  }
  