@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik", sans-serif;
}
body{
    background: #e9e6e6;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
  padding-left: 2%;  
  padding-right: 2%;
}
.btn{
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 20px;
    margin-left: 10px;
}
.btn.dark-btn{
    background: #212EA0;
    color: #fff;
}

@media (max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
}