.research-container {
    padding: 8rem 1rem 2rem;
    background-color: #f8fafc;
    min-height: 100vh;
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
  }
  
  /* .research-container h2 {
    font-size: 2rem;
    color: #1d4ed8;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  } */
  
  .icon {
    color: #10b981;
    font-size: 1.6rem;
  }
  
  .description {
    color: #009EDB;
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 900px;
    margin: 0 auto 2rem;
    line-height: 1.6;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .research-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .research-table th,
  .research-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .research-table th {
    background-color: #303877;
    color: white;
    font-weight: 500;
    /* text-align: center; */
  }
  
  .research-table td {
    color: #334155;
  }
  
  @media (max-width: 768px) {
    .research-container h2 {
      font-size: 1.5rem;
    }
  
    .research-table th,
    .research-table td {
      padding: 0.8rem;
      font-size: 0.95rem;
    }
  
    .description {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  