.iic-container {
    padding: 8rem 1rem 2rem;
    background: #f0f8ff;
    min-height: 100vh;
    animation: fadeIn 0.6s ease-in-out;
    text-align: center;
  }
  
  /* .iic-container h2 {
    font-size: 2rem;
    color: #065f46;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  } */
  
  .iic-description {
    color: #444;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }
  
  .icon {
    color: #22c55e;
    font-size: 1.8rem;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .iic-table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  
  .iic-table th,
  .iic-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .iic-table th {
    background-color: #303877;
    color: #ffffff;
    font-weight: 500;
    /* text-align: center; */
  }
  
  .iic-table th:first-child {
    border-top-left-radius: 12px;
  }
  .iic-table th:last-child {
    border-top-right-radius: 12px;
  }
  
  .iic-table td {
    color: #1f2937;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .iic-container h2 {
      font-size: 1.5rem;
    }
  
    .iic-table th,
    .iic-table td {
      font-size: 0.95rem;
      padding: 0.7rem;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  